/* General Styles */
@font-face {
    font-family: 'Agency' ;
    src: url(fonts/agencyfb_bold.ttf);
}
@font-face {
    font-family: 'Agency_Light' ;
    src: url(fonts/agencyfb_reg.ttf);
}
html {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    padding-bottom: 150px; /* Height of the footer */
}

body {
    font-family: 'Agency', sans-serif;
    background-color: black;
    color: #faf9f6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #02e901;
    color: #000000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

header .logo-container {
    display: flex;
    align-items: center;
}

header .logo {
    height: 50px;
    margin-right: 7px;
    margin-top: 7px;
}

header div h1 {
    margin: 0;
    font-size: 27px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

nav ul li {
    display: inline;
    font-size: 20px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.intro {
    border-top: 1.5px solid #54ee52;
}

.services {
    border-bottom: 1.5px solid #54ee52;
    border-top: 1.5px solid #54ee52;
}

.vision {
    border-bottom: 1.5px solid #54ee52;
}

main {
    padding: 20px;
}

.welcome-banner {
    text-align: center;
    margin-top: 100px;
}

.welcome-banner h1 {
    font-size: 3em;
    color: #02e901;
    margin-bottom: 10px;
}

.welcome-banner .logo {
    width: 205px;
    height: auto;
}

.intro, .services, .vision, .about, .contact {
    margin-bottom: 20px;
}

button {
    background-color: #02e901;
    color: #000000;
    
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Agency', sans-serif;
    border: 3px solid white;
    box-shadow: grey 0 0 10px;
    border-radius: 3dvi;
}

button:hover {
    background-color: #54ee52;
}

footer {
    background-color: #02e901;
    color: #000000;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    display:fixed;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.footer-section {
    flex: 1;
    padding: 10px;
    min-width: 200px;
}

.footer-bottom {
    background-color: #02e901;
    padding: 10px 0;
    font-weight: bold;
}

.footer-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.footer-section ul li a:hover {
    color: #54ee52;
}






.footer-section .social-buttons a {
    margin: 0 10px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}



.footer-section .social-buttons a:hover {
    color: #54ee52;
}




.footer-section .social-buttons ul li{
    display: flex;
    flex-direction: row;
}





/* Contact Us page */
.contact p {
    font-weight: bold;
}

.contact p a {
    color: #54ee52;
    font-weight: bold;
}

.contact p a:hover {
    color: #a7f3a4;
}

.contact-info p a{
    color: #fff0a3;
    font-weight: bold;
}

.contact-info p a:hover {
    color: #a7f3a4;
}




/* Color Mode Change Settings */
:root {
    --background-color: #000000;
    --text-color: #ffffff;
    --accent-color: #02e901;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-weight: bold;
}

.dark-mode {
    --background-color: #ffffff;
    --text-color: #000000;
    --accent-color: #02e901;
}

.dark-mode body {
    background-color: var(--background-color);
    color: var(--text-color);
}
.dark-mode button{
    border: 3px solid rgb(0, 0, 0);
    box-shadow: rgb(150, 128, 128) 0 0 12px;
    border-radius: 3dvi;
}

#theme-toggle:hover {
    background-color: #8aff8e;
}

#theme-toggle {
    display: inline;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 7px;
}



/* RESPONSIVE DESIGN */
@media screen and (max-width: 720px) {
    .wrapper{
        font-family: 'Agency_Light';
        font-weight: 500;
    }
    header {
        padding: 10px 10px;
        flex-direction: column;
       
        align-items: center;
       
    }

    header .logo {
        height: 48px;
        margin-right: 5px;
        display: inline-block;
        position: relative;
        margin-top: 7px;
      
    }
    .logo-container h1{
        font-family: 'Agency';
        font-weight: bold;
    }

    header div h1 {
        font-size: 23px;
       
    }

    nav ul {
        flex-direction: row;
        gap: 11px;
        
        
    }

    nav ul li {
        display: block;
        font-size: 18px;
        font-weight: 900;
        font-family: 'Agency';
       
    }
   
    .social-buttons a {
        margin: 0 8px;
    }

    footer {
        padding: 5px 0;
        height: auto;
        font-size: 16px;
        font-weight: 600;
    }

    .social-buttons a {
        margin: 0 5px;
    }

    main {
        padding: 10px;
    }

    .welcome-banner {
        margin-top: 50px;
    }

    .intro, .services, .vision, .about, .contact {
        margin-bottom: 10px;
    }

    .intro {
        border-top: 1.5px solid #54ee52;
    }
    .intro button{
      display: block;
      margin: auto;
    }
    .services {
        border-bottom: 1.5px solid #54ee52;
    }

    .vision {
        border-bottom: 1.5px solid #54ee52;
    }

    #theme-toggle {
        display: block;
        font-size: 18px;
    }
   .contact p{
    font-family: 'Agency_Light';
    font-weight: 600;
   }
   .contact p a {
    font-family: 'Agency_Light';
    font-weight: 600;

   }
}
