
.intro button {
    --btn-default-bg: var(----background-color);
    --btn-padding: 15px 20px;
    --btn-hover-bg: rgb(51, 51, 51);
    --btn-transition: .3s;
    --btn-letter-spacing: .1rem;
    --btn-animation-duration: 1.35s;
    --btn-shadow-color: rgba(0, 0, 0, 0.137);
    --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
    --hover-btn-color: #02e901;
    --default-btn-color: var(--text-color);
    --font-size: 16px;
    /* 👆 this field should not be empty */
    --font-weight: 600;
    
    /* 👆 this field should not be empty */

    
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 7px;

  }
  
  /* button settings 👆 */
  
  .intro button {
    box-sizing: border-box;
    padding: var(--btn-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-btn-color);
    font: var(--font-weight) var(--font-size) var(--font-family);
    background: var(--btn-default-bg);
    border: none;
    cursor: pointer;
    transition: var(--btn-transition);
    overflow: hidden;
    box-shadow: var(--btn-shadow);
    font-family: 'Agency';
  }
  
  .intro button span {
    letter-spacing: var(--btn-letter-spacing);
    transition: var(--btn-transition);
    box-sizing: border-box;
    position: relative;
    background: inherit;
  }
  
  .intro button span::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    background: inherit;
  }
  
  .intro button:hover, .intro button:focus {
    background: var(--btn-hover-bg);
  }
  
  .intro button:hover span, .intro button:focus span {
    color: var(--hover-btn-color);
  }
  
  .intro button:hover span::before, .intro button:focus span::before {
    animation: chitchat linear both var(--btn-animation-duration);
  }
  
  @keyframes chitchat {
    0% {
      content: "#";
    }
  
    5% {
      content: ".";
    }
  
    10% {
      content: "^{";
    }
  
    15% {
      content: "-!";
    }
  
    20% {
      content: "#$_";
    }
  
    25% {
      content: "№:0";
    }
  
    30% {
      content: "#{+.";
    }
  
    35% {
      content: "@}-?";
    }
  
    40% {
      content: "?{4@%";
    }
  
    45% {
      content: "=.,^!";
    }
  
    50% {
      content: "?2@%";
    }
  
    55% {
      content: "\;1}]";
    }
  
    60% {
      content: "?{%:%";
      right: 0;
    }
  
    65% {
      content: "|{f[4";
      right: 0;
    }
  
    70% {
      content: "{4%0%";
      right: 0;
    }
  
    75% {
      content: "'1_0<";
      right: 0;
    }
  
    80% {
      content: "{0%";
      right: 0;
    }
  
    85% {
      content: "]>'";
      right: 0;
    }
  
    90% {
      content: "4";
      right: 0;
    }
  
    95% {
      content: "2";
      right: 0;
    }
  
    100% {
      content: "";
      right: 0;
    }
  }







  /* Centered Button Styling */
.cta-btn {
  margin: 0 auto;
  display: block;
  text-transform: uppercase;
}

.cta-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 30px rgba(84, 238, 82, 0.9), inset 0 0 20px rgba(255, 255, 255, 0.3);
}

