/* SERVICES BUTTON ON INDEX PAGE */

.services button {
  width: 9em;
  position: relative;
  height: 3.5em;
  border: 3.5px ridge orange;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 0.5s;
  border-radius: 0.3em;
  font-weight: bold;
  font-family: monospace;
  cursor: pointer;
  margin-top: 30px;
  }

.services button::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  transition: 0.2s;
  transform-origin: center;
}

.services button::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  transition: 0.5s;
}

.services button:hover::before, button:hover::after {
  transform: scale(0)
}

.services button:hover {
  box-shadow: inset 0px 0px 20px rgb(141, 96, 14);
}