
.Team .card {
    position: relative;
    width: 235px;
    color: white;
    height: 310px;
    background: #444;
    border-radius: 14px;
    margin: 20px;
   

  }
  



/* 
 .Team .card:hover { 
    box-shadow: 0 0 30px 0 lightgreen; 
    transform: scale(1.05); 
    background: #444;
  } 
  
 */



  .bg {
    position: absolute;
    z-index: -1;
    inset: -4px;
    border-radius: 16px;
    overflow: hidden;

 
  }
  
  .uwu {
    filter: blur(8px);
    transition: filter 0.3s;
    
  }
  
  .bg::before {
    content: '';
    position: absolute;
    aspect-ratio: 1/1;
    top: 50%;
    left: 50%;
    min-width: 150%;
    min-height: 150%;
    background-image: conic-gradient(
      hsl(0, 100%, 50%),
      hsl(30, 100%, 50%),
      hsl(60, 100%, 50%),
      hsl(90, 100%, 50%),
      hsl(120, 100%, 50%),
      hsl(150, 100%, 50%),
      hsl(180, 100%, 50%),
      hsl(210, 100%, 50%),
      hsl(240, 100%, 60%),
      hsl(270, 100%, 50%),
      hsl(300, 100%, 50%),
      hsl(330, 100%, 50%),
      hsl(360, 100%, 50%)
    );
    animation: speeen 4s linear infinite;
    transform-origin: 0% 0%;
    transform: rotate(0deg) translate(-50%, -50%);
  }
  
  @keyframes speeen {
    from {
      transform: rotate(0deg) translate(-50%, -50%);
    }
  
    to {
      transform: rotate(360deg) translate(-50%, -50%);
    }
  }
  
  .content {
    position: relative;
    padding: 14px 16px;
  }
  .img{
    height: 5em;
    width: 5em;
    margin: auto;
    background-color: #fff3;
    border-radius: 1em;
  }
  .img img {
    height: 5em;
    width: 5em;
    margin: auto;
    background-color: #fff3;
    border-radius: 1em;
  }
  
  .img svg {
    height: 100%;
    fill: white;
  }
  
  .content div {
    text-align: center;
  }
  
  .h1 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
  }
  
  
  .p h3{
    font-size: 16px;
    margin: 0;
  }
  
  .p p {
    margin-top: 0.3em;
    padding: 0.5em;
    border-radius: 1em;
    font-size: 14px;
    font-weight: 50;
    font-family: 'Agency_Light';
  }

  @media screen and (max-width: 327px) {
    .Team .card {
    width:215px ;
    }
    
    }